<div class="container">
  <div class="row">
    <div *ngIf="(order$ | async) as order" class="col-6 offset-3">
      <h3 class="py-2">Adatok szerkesztése</h3>
      <form #orderForm="ngForm" (ngSubmit)="onUpdate(orderForm, order)">

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Azonosító</label>
          </div>
          <input name="id" [(ngModel)]="order._id" type="text" class="form-control" disabled required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Vásárló</label>
          </div>
          <input name="customer" [value]="order.customer" type="text" class="form-control" disabled pattern=".{6,}"
            required>

          <div [hidden]="orderForm.controls.customer?.valid" class="error-message mt-1 text-end">
            Válassz vásárlót a listából!
          </div>
          <select class="custom-select border col-12 mr-5" name="customer" [(ngModel)]="order.customer" required>
            <option value="" selected disabled hidden>Vásárlók listája</option>
            <option *ngFor="let customer of customers$ | async" [value]="[customer._id]">{{customer.lastName}}
              {{customer.firstName}} - {{customer.address.zip}} {{customer.address.city}}, {{customer.address.street}}
            </option>
          </select>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Termék</label>
          </div>
          <input name="orders" [value]="order.product" type="text" class="form-control" disabled pattern=".{6,}"
            required>
          <div [hidden]="orderForm.controls.product?.valid" class="error-message mt-1 text-end">
            Válassz terméket a listából!
          </div>
          <select class="custom-select border col-12 mr-5" name="product" [(ngModel)]="order.product" required>
            <option value="" selected disabled hidden>Termékek listája</option>
            <option *ngFor="let product of products$ | async" [value]="[product._id]">{{product.name}} -
              {{product.category}}</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Mennyiség</label>
          </div>
          <input class="custom-select border col-12 mr-5" name="quantity" [(ngModel)]="order.quantity" type="number"
            min=1>
        </div>

        <!-- <button type="button" (click)="submitPrice(orderForm, order)"></button> -->
        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Ár</label>
            <div [hidden]="orderForm.controls.price?.valid" class="error-message mt-1 text-end">
              Add meg a végösszeget!
            </div>
          </div>
          <input class="custom-select border col-12 mr-5" name="price" [(ngModel)]="order.price" type="number"
            required>
        </div>
        <!-- <div *ngIf="!order.product.price" class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Ár</label>
            <div [hidden]="orderForm.controls.price?.valid" class="error-message mt-1 text-end">
              Add meg a végösszeget!
            </div>
          </div>
          <input class="custom-select border col-12 mr-5" name="price" [(ngModel)]="order.price" type="number"
            required>
        </div>

        <div *ngIf="order.product.price" class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Ár</label>
          </div>
          <input class="custom-select border col-12 mr-5" name="price" [(ngModel)]="order.product.price * order.quantity" type="number"
            disabled>
        </div> -->

        <!-- <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Termékek</label>
          </div>
          <input name="orders" [value]="order.products" type="text" class="form-control"
            disabled pattern=".{6,}" required>
            <div [hidden]="orderForm.controls.products?.valid" class="error-message mt-1 text-end">
              Válassz terméket a listából!
            </div>
            <select class="custom-select border col-12 mr-5" name="product" [(ngModel)]="order.products" required >
              <option *ngFor="let product of products$ | async" [value]="[product._id]">{{product.name}} - {{product.category}}</option>
            </select>
            <div [hidden]="orderForm.controls.orders?.valid" class="error-message mt-1 text-end">
              Add meg a mennyiséget (tő)!
            </div>
            <input class="custom-select border col-12 mr-5" name="amount" [(ngModel)]="order.orders[0].amount" type="number" required >
        </div> -->

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Dátum</label>
            <div [hidden]="orderForm.controls.date?.valid" class="error-message mt-1">
              A dátum formátuma: yyyy. mm. dd.!
            </div>
          </div>
          <input name="date" [(ngModel)]="order.date" type="text" class="form-control"
            pattern="^[1-9][0-9]{3}\. [0-9]{2}\. [0-9]{2}.+" required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Státusz</label>
            <div [hidden]="orderForm.controls.status?.valid" class="error-message mt-1">
              Válassz státuszt (új, kiszállított, kifizetett)!
            </div>
          </div>
          <!-- <input name="status" [(ngModel)]="order.status" type="text" class="form-control"
            pattern="^'new'||'shipped'||'paid'$" required> -->

          <select class="custom-select border col-12 mr-5" name="status" [(ngModel)]="order.status" required>
            <option *ngFor="let key of ['új', 'kiszállított', 'kifizetett']" [value]="[key]">{{key}}</option>
          </select>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Megjegyzés</label>
            <div [hidden]="orderForm.controls.note?.valid" class="error-message mt-1">
              A megjegyzés 2-100 karakter hosszú lehet!
            </div>
          </div>
          <textarea name="note" [(ngModel)]="order.note" type="textarea" class="form-control"
            pattern="^.{2,100}$"></textarea>
        </div>

        <!--<button [disabled]="orderForm.invalid || clicked" (click)="showHtmlToaster(order)" type="submit"
          class="btn btn-success btn-block btn-lg mt-2">
          <i *ngIf="!clicked" class="fa fa-save"></i>
          <i *ngIf="clicked" class="fa fa-refresh"></i>
        </button>--->
        <!-- <button [disabled]="orderForm.invalid || clicked" (click)="showNotification('top','center', order)" type="submit" class="btn btn-success btn-block btn-lg mt-2"> -->
        <button [disabled]="orderForm.invalid || clicked" type="submit" class="btn btn-success col-12 btn-lg mt-5">
          <i *ngIf="!clicked" class="fas fa-save"></i>
          <i *ngIf="clicked" class="fas fa-sync"></i>
        </button>
      </form>
    </div>
  </div>
</div>
