<div class="container">
  <div class="row">
    <div *ngIf="(order$ | async) as order" class="col-6 offset-3">
      <h3 class="py-2">Adatok szerkesztése</h3>
      <form #orderForm="ngForm" (ngSubmit)="onUpdate(orderForm, order)">

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Azonosító</label>
          </div>
          <input name="id" [(ngModel)]="order._id" type="text" class="form-control" disabled required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Megrendelő</label>
            <div [hidden]="orderForm.controls.category?.valid" class="error-message mt-1">
              A megrendelő azonosítója minimum 6 karakter kell legyen!
            </div>
          </div>
          <input name="category" [(ngModel)]="order.customer._id" type="text" class="form-control"
            pattern=".{6,}" required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Termékek</label>
            <div [hidden]="orderForm.controls.products?.valid" class="error-message mt-1">
              A megrendelő azonosítója minimum 6 karakter kell legyen!
            </div>
          </div>
          <textarea name="products" [(ngModel)]="order.products" type="textarea" class="form-control"
            pattern=".{6,}" required></textarea>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Dátum</label>
            <div [hidden]="orderForm.controls.date?.valid" class="error-message mt-1">
              A dátum formátuma: yyyy-mm-dd!
            </div>
          </div>
          <input name="date" [(ngModel)]="order.date" type="text" class="form-control"
            pattern="^[1-9][0-9]{3}-[0-9]{2}-[0-9]{2}.+"
            required>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Státusz</label>
            <div [hidden]="orderForm.controls.status?.valid" class="error-message mt-1">
              Choose a status (new, shipped, paid)!
            </div>
          </div>
          <!-- <input name="status" [(ngModel)]="order.status" type="text" class="form-control"
            pattern="^'new'||'shipped'||'paid'$" required> -->

            <select class="custom-select border col-12 mr-5" name="status" [(ngModel)]="order.status" required >
              <option *ngFor="let key of ['new', 'shipped', 'paid']" [value]="[key]">{{key}}</option>
            </select>
        </div>

        <div class="form-group mt-3">
          <div class="d-flex justify-content-between">
            <label for="">Megjegyzés</label>
            <div [hidden]="orderForm.controls.description?.valid" class="error-message mt-1">
              A megjegyzés 2-100 karakter hosszú lehet!
            </div>
          </div>
          <textarea name="description" [(ngModel)]="order.note" type="textarea" class="form-control"
            pattern="^.{2,100}$" required></textarea>
        </div>

        <!--<button [disabled]="orderForm.invalid || clicked" (click)="showHtmlToaster(order)" type="submit"
          class="btn btn-success btn-block btn-lg mt-2">
          <i *ngIf="!clicked" class="fa fa-save"></i>
          <i *ngIf="clicked" class="fa fa-refresh"></i>
        </button>--->
        <!-- <button [disabled]="orderForm.invalid || clicked" (click)="showNotification('top','center', order)" type="submit" class="btn btn-success btn-block btn-lg mt-2"> -->
        <button [disabled]="orderForm.invalid || clicked" type="submit" class="btn btn-success col-12 btn-lg mt-2">
          <i *ngIf="!clicked" class="fas fa-save"></i>
          <i *ngIf="clicked" class="fas fa-sync"></i>
        </button>
      </form>
    </div>
  </div>
</div>
