<div class="card card-stats h-100">
  <div class="card-header card-header-icon d-flex justify-content-between" [class]="cardClass">
      <div class="card-icon">
          <i [class]="icon"></i>
          <!-- <i class="fas fa-user-alt"></i> -->
          <p class="card-category">{{ title }}</p>
      </div>
      <div>
        <h3 class="card-title text-end fw-bold">{{ content }}</h3>
        <h5 class="card-title text-end">{{ unit }}</h5>
      </div>
  </div>
  <div class="card-footer mt-auto">
      <div class="stats">
          {{ footer }}
      </div>
  </div>
</div>
