<div *ngIf="user$ | async" id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">

      <div class="nav">
        <ul>
          <div class="sb-sidenav-menu-heading">Összesítés</div>
          <li class="nav-item " routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/" routerLinkActive="black" [routerLinkActiveOptions]="{exact: true}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-clipboard"></i>
              </div>
              Főoldal
            </a>
          </li>


          <div class="sb-sidenav-menu-heading">Adatok</div>

          <li class="nav-item " routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/customers" routerLinkActive="warning"
              [routerLinkActiveOptions]="{exact: true}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-user-friends"></i>
              </div>
              Vásárlók
            </a>
          </li>

          <li class="nav-item " routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/products" routerLinkActive="success"
              [routerLinkActiveOptions]="{exact: true}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-seedling"></i>
              </div>
              Termékek
            </a>
          </li>

          <li class="nav-item " routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/orders" routerLinkActive="primary"
              [routerLinkActiveOptions]="{exact: true}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-table"></i>
              </div>
              Megrendelések
            </a>
          </li>

          <li class="nav-item " routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/bills" routerLinkActive="info" [routerLinkActiveOptions]="{exact: true}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-receipt"></i>
              </div>
              Számlák
            </a>
          </li>

          <li class="nav-item " routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/users" routerLinkActive="secondary" [routerLinkActiveOptions]="{exact: true}">
              <div class="sb-nav-link-icon">
                <i class="fas fa-receipt"></i>
              </div>
              Felhasználók
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div *ngIf="(currentUser$ | async) as currentuser" class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      {{currentuser.firstName}} {{currentuser.lastName}}
    </div>
  </nav>
</div>
